.logo-container {
  margin-left: 82%;
  padding-top: 0%;
}
.logo {
  font-family: "Bangers", cursive;
  color: #45a29e;
  font-size: 4em;
}
#f {
  color: #66fcf1;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.logo:hover,
.logo:active {
  color: #66fcf1;
}
@media screen and (max-width: 600px) {
  .logo-container {
    margin-left: 75%;
  }
  .logo {
    font-size: 2em;
    margin-top: 0;
  }
}
