$black: #010103;
$grey: #1F2833;
$white:#C5C6C7;
$bright:#66FCF1;
$dull:#45A29E;
.logo-container{
    margin-left: 82%;
    padding-top: 0%;

}
.logo{
    font-family:  'Bangers', cursive;
    color: $dull;
    font-size: 4em;
}

#f{
    color:$bright ;
}


.link{
    text-decoration: none;
    cursor: pointer;
}
.logo:hover, .logo:active{
    color: $bright;
}


@media screen and (max-width: 600px) {
    .logo-container{
        margin-left: 75%;
    }
    .logo{
        font-size: 2em;
        margin-top: 0;
    }
}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Lobster', cursive;