$black: #010103;
$grey: #1F2833;
$white:#C5C6C7;
$bright:#66FCF1;
$dull:#45A29E;
$pink:#ec407a;
.logo-container{
    margin-left: 88%;
    padding-top: 0%;

}
.logo{
    font-family:  'Bangers', cursive;
    color:$pink;
    font-size: 5em;
}

#f{
    color:$dull ;
}
#f:hover{
    color: $pink;
}

.link{
    text-decoration: none;
    cursor: pointer;
}
.logo:hover, .logo:active{
    color: $dull;
}

@media only screen and (min-width:600px) and (max-width:1600px){
    .logo{
      font-size: 3em;
    }
  }

@media screen and (max-width: 600px) {
    .logo-container{
        margin-left: 75%;
    }
    .logo{
        font-size: 2em;
        margin-top: 0;
    }
}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Lobster', cursive;