* {
  background-color: #010103;
}
.dump {
  color: #010103;
}
.heroRight {
  height: 60vh;
  width: 90ch;
  border-radius: 10;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 10%;
  margin-left: 25%;
}
#heroLeft {
  background-color: #010103;
}
.heroRightColor {
  background-color: #66fcf1;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.hero-text-box {
  background-color: #010103;
  padding-left: 30%;
}
.hero-text {
  color: #1f2833;
  font-size: 7em;
  font-family: "Bangers", cursive;
  white-space: nowrap;
}
.quote-container {
  margin-top: 0;
  background-color: #000103;
  padding-left: 5%;
  padding-top: 2%;
}
.quote {
  color: #c5c6c7;
  font-family: "Work Sans", sans-serif;
  font-size: 3em;
  font-weight: 100;
  line-height: 120%;
  letter-spacing: -4px;
  text-align: left;
  border-left: 3px solid #66fcf1;
  padding-left: 10px;
}
.quote:before,
.quote:after {
  content: "\201C";
  font-family: "Sanchez";
  color: #fff;
}
.quote:after {
  content: "\201D";
}
.btn-container {
  padding-left: 12%;
}
.btn {
  font-size: 1.5em;
  padding: 1%;
  font-family: "Work Sans", sans-serif;
  border: 4px solid #45a29e;
  margin-left: 10px;
}
.btn:hover {
  background-color: #45a29e;
  cursor: pointer;
}
.subtitle-container {
  padding-top: 10%;
  text-align: center;
  bottom: 0;
}
.subtitle {
  color: #c5c6c7;
  font-family: "Work Sans", sans-serif;
  font-weight: 120;
  font-size: 2.2em;
}
.subtitle:hover {
  color: #66fcf1;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .heroRight {
    margin-left: 0%;
  }
  .hero-text {
    white-space: normal;
  }
}
@media screen and (max-width: 992px) {
  .heroRight {
    margin-left: 10%;
  }
}
