.root {
  flex: 1;
}
.rightGrid {
  margin-left: 10%;
}
.text {
  color: #c5c6c7;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}
.h11 {
  font-size: 2.6em;
  padding-top: 0;
}
.h22 {
  font-size: 2em;
}
.h11,
.h22 {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}
.check {
  background-color: #45a29e;
  z-index: 2;
}
