$black: #010103;
$grey: #1F2833;
$white:#C5C6C7;
$bright:#66FCF1;
$dull:#45A29E;
$pink:#ec407a;
.root{
    flex: 1;
}

.rightGrid{
    margin-left: 10%;
}

.text{
    color: $dull;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
.h11{
    font-size: 2.6em;
    padding-top: 0;
    
}
.h22{
    font-size: 2em;
}
.h11, .h22{
    color: $pink;
    font-family:  'Bangers', cursive;
    letter-spacing: 5px;
}

.check{
    background-color: $dull;
    z-index: 2;
}


.sImg, .bImg{
    width: 100%;
    -webkit-transition: width 1s;
  transition: width 1s;
}
.sImg:hover, .bImg:hover{
    opacity: 0.7;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .sImg{
        size: 30%;
    }
}

