$black: #010103;
$grey: #1F2833;
$white:#C5C6C7;
$bright:#66FCF1;
$dull:#45A29E;
$pink:#ec407a;

.containerr{
    height: 60vh;
}

.head3{
    padding-top: 0;
    text-align: center;
}

.l2h{
    text-decoration: none;
   font-size: 2em;
   color:$bright ;
   font-family: 'Work Sans', sans-serif;
}

.l2h-container{
    text-align: center;
}