$black: #010103;
$grey: #1F2833;
$white:#C5C6C7;
$bright:#66FCF1;
$dull:#45A29E;
#landingTitle{
    font-family: 'Rock Salt', cursive;
    padding-top: 0;
    font-size: 3em;
}

.description{
}


// font-family: 'Caveat Brush', cursive;
// font-family: 'Rock Salt', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Lobster', cursive;